.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: $box-shadow-6;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    // border-radius: 2px;
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      -moz-outline-radius: 0;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: $box-shadow-7;
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
